<div class="container">

<div class="title">Sobreviviendo a Ecatepec</div>
<div class="subtitle">Una aventura epica</div>


  <form class="form-horizontal" role="form" action="create_game" >
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Escriba su nommbre: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" name="name">
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" class="btn btn-success">Jugar</button>
      </div>
    </div>
  </form>

</div>